<%- include("partials/header"); -%>
          <div class="row upper">
              <div class="col-md-6 proimg">
                  <img src="/css/images/Profile1.jpeg" class="dev">
              </div>
              <div class="col-md-6 proimg">
                  <img src="/css/images/default.jpg" class="dev">
              </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-10 user" >
          <p class="des">
            Codeforces is a website that hosts competitive programming contests. It is maintained by a group of competitive programmers from ITMO University led by Mikhail Mirzayanov. Since 2013, Codeforces claims to surpass Topcoder in terms of active contestants.
          </p>
          <h2>Github Links:</h2>
          <ul>
              <li>
                <i class="fab fa-github"></i>
                <a href="https://github.com/AkshatAgarwal2801">Akshat</a>
                <br>
              </li>
              <li>
                <i class="fab fa-github"></i>
                <a href="https://github.com/Ashkrm">Ashish</a>
              </li>
          </ul>
          <h2>Technology Used:</h2>
          <ul>
              <li>
                  1.Tere Bina
              </li>
              <li>
                  2.Mein kaise
              </li>
              <li>
                  3.Jiunnn
              </li>
          </ul>
          <h2>Packages and Libraries involved:</h2>
          <ul>
            <li>
                1.AAJe re
            </li>
            <li>
                2.AAja  reeeee
            </li>
            <li>
                3.yuhi tadpa na
            </li>
        </ul>
    </div>
    <div class="col-sm-1"></div>
    </div>
    <%- include("partials/footer"); -%>