<%- include("partials/header"); -%>
          <div class="row upper">
              <div class="col-md-6 proimg">
                  <img src="/images/Profile1.jpeg" class="dev">
              </div>
              <div class="col-md-6 proimg">
                  <img src="/images/default.jpg" class="dev">
              </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-10 user" >
          <p class="des">
            Akshat and Ashish are Web Development Enthusiasts. We are currently pursuing bachelor's degree in Computer Science and Engineering (graduating in 2022) from Institute of Engineering and Technology Lucknow, India.
          </p>
          <h2>Github Links:</h2>
          <ul>
              <li>
                <i class="fab fa-github"></i>
                <a href="https://github.com/AkshatAgarwal2801">Akshat</a>
                <br>
              </li>
              <li>
                <i class="fab fa-github"></i>
                <a href="https://github.com/Ashkrm">Ashish</a>
              </li>
          </ul>
          <h2>Technology Used:</h2>
          <ul>
              <li>
                  1.Node.js
              </li>
              <li>
                  2.MongoDB
              </li>
              <li>
                  3.BootStrap
              </li>
          </ul>
          <h2>Packages and Libraries involved:</h2>
          <ul>
            <li>
                1.Express.js
            </li>
            <li>
                2.EJS
            </li>
            <li>
                3.Mongoose
            </li>
            <li>
                4.Passport.js
            </li>
            <li>
                5.https
            </li>
        </ul>
    </div>
    <div class="col-sm-1"></div>
    </div>
    <%- include("partials/footer"); -%>