<%- include("header"); -%>

  <section id="title" class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="title-content">Binge them All Ready to Pick your favorites with us!</h1>
      </div>
      <div class="col-lg-7">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <img src="https://cdn.mos.cms.futurecdn.net/7jAF7F26C7knMDj6z3EMkG.jpg" class="d-block w-100" alt="1st slide">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="https://cnet1.cbsistatic.com/img/X0ca14TIP9jQOQkayXvRlDZQ4jY=/1200x675/2014/06/17/60301c27-9d37-485d-91b9-cc6025e89760/breaking-bad-header.jpg" class="d-block w-100" alt="2nd slide">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="https://images7.alphacoders.com/726/thumb-1920-726772.jpg" class="d-block w-100" alt="3rd slide">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="hollywood" class="container-fluid topHollywood">
    <h1 class="topHollywood-title"><u>Top Hollywood Picks</u></h1>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL50_.jpg">
          <p class="image-description">9.4<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BMTAwNDEyODU1MjheQTJeQWpwZ15BbWU2MDc3NDQwNw@@._V1_QL50_.jpg">
          <p class="image-description">8.1<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_QL50_SY1000_CR0,0,675,1000_AL_.jpg">
          <p class="image-description">8.8<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL50_SY1000_SX675_AL_.jpg">
          <p class="image-description">8.6<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BYzhiNDkyNzktNTZmYS00ZTBkLTk2MDAtM2U0YjU1MzgxZjgzXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_QL50_SY1000_CR0,0,675,1000_AL_.jpg">
          <p class="image-description">8.1<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BNDcxY2IxMmUtZDhlNy00NWM1LWI2MTgtOGRkMTEyZjc5MDMxXkEyXkFqcGdeQXVyNzAwMjU2MTY@._V1_QL50_SY1000_SX675_AL_.jpg">
          <p class="image-description">5.7<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BMTQ5NjQ0NDI3NF5BMl5BanBnXkFtZTcwNDI0MjEzMw@@._V1_QL50_SY1000_CR0,0,672,1000_AL_.jpg">
          <p class="image-description">8.0<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BN2VhNTY5ZTUtYzc1NC00NjUyLWI1NDQtYWE3YmJlNjQ3OGVlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_QL50_SY1000_CR0,0,674,1000_AL_.jpg">
          <p class="image-description">6.6<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
    </div>
  </section>





  <section class="container-fluid topBollywood">
    <h1 class="topBollywood-title"><u>Top Bollywood Picks</u></h1>
    <div class="row pd">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BZWZhMjhhZmYtOTIzOC00MGYzLWI1OGYtM2ZkN2IxNTI4ZWI3XkEyXkFqcGdeQXVyNDAzNDk0MTQ@._V1_QL50_SX692_CR0,0,692,999_AL_.jpg">
          <p class="image-description">8.3<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BNjlkZjBjZmUtNjZjNS00ODlkLWIzODYtODY0NmViN2E0MjIxXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_QL50_SY1000_CR0,0,692,1000_AL_.jpg">
          <p class="image-description">7.3<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BYjg2ZDI2YTYtN2EwYi00YWI5LTgyMWQtMWFkYmE3NmJkOGVhXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_QL50_SY1000_CR0,0,692,1000_AL_.jpg">
          <p class="image-description">8.1<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BNTkyMDc0MjAtNmQ4Yi00MDBmLWI5NTItYjljOGMxOTkzMzk1XkEyXkFqcGdeQXVyNTA4OTgxMzk@._V1_QL50_SY1000_CR0,0,690,1000_AL_.jpg">
          <p class="image-description">7.1<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
    </div>
    <div class="row pd">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BMTgwNTAwMjEzMF5BMl5BanBnXkFtZTcwNzMzODY4OA@@._V1_QL50_SY1000_CR0,0,753,1000_AL_.jpg">
          <p class="image-description">7.7<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BNTkyOGVjMGEtNmQzZi00NzFlLTlhOWQtODYyMDc2ZGJmYzFhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_QL50_SY1000_CR0,0,694,1000_AL_.jpg">
          <p class="image-description">8.4<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BZjAzZjZiMmQtMDZmOC00NjVmLTkyNTItOGI2Mzg4NTBhZTA1XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_QL50_SY1000_SX692_AL_.jpg">
          <p class="image-description">7.7<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="img-wrap">
          <img class="m" src="https://m.media-amazon.com/images/M/MV5BZGRhMDUxMjktYzdiZi00NTczLWIxMzQtMjEyZTU5MTYwNTg2XkEyXkFqcGdeQXVyNjY1MTg4Mzc@._V1_QL50_SY1000_CR0,0,692,1000_AL_.jpg">
          <p class="image-description">6.9<a class="btn btn-secondary" href="" role="button">View Details</a></p>
        </div>
      </div>
    </div>
  </section>

<%- include("footer"); -%>
