<%- include('partials/header') %>
<div class="container" style="padding-top: 100px; padding-bottom: 320px;">
  <h4 style="color: white;"><%=h%></h4>
  
  <br>
  <p style="color: white;">Click Below To Go Back!</p>
  <button type="button" class="btn" onclick="history.back()" name="button" style="background-color: #14ffec;">Go Back!</button>
</div>

<%- include('partials/footer') %>
