body{
  background-color: black;
}

.container-fluid{
  padding: 0 7%;
}

/* Navigation Bar */
.navigation{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.navbar{
  padding: 0;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-logo{
  border-radius: 2px;
  padding: .5rem;
  background-color: #14FFEC;
  color: #393e46;
}
.nav-item{
  padding: 0 8px;
}
.nav-link{
    font-size: 1.1rem;
    font-weight: 300;
}
.nav-search{
  width: 40%;
}

/* Title Section */
.title-content{
  color: white;
  font-weight:bold;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 8% 0 0 0;
}

/*Top Hollywood*/
.topHollywood{
  padding-top: 1.5%;
  padding-bottom: 2%;
  background-color: #323232;
}
.topHollywood-title{
  text-align: center;
  color: white;
  font-family: 'Sacramento', handwriting;
}
.m{
  width: 100%;
}
.img-wrap{
  padding: 0;
  margin: 1rem;
  position: relative;
}
.image-description {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4em;
  color: white;
  visibility: hidden;
}
.img-wrap:hover .image-description {
  visibility: visible;
  opacity: 1;
}
.img-wrap:hover img {
  transition: 1.1s;
  opacity: 0.35;
}
.img-wrap:hover{
  background:rgb(0,0,0,0.65);
}

/* Top Bollywood */
.topBollywood{
  padding-top: 1.5%;
  padding-bottom: 2%;
  background-color: #14ffec;
}
.topBollywood-title{
  text-align: center;
  color: white;
  font-family: 'Sacramento', handwriting;
}

/* Footer */
.footer{
  padding-top: 1%;
  padding-bottom: 0.5%;
  text-align: center;
  background-color: #323232;
  color: white;
  font-family: 'Raleway', serif;
}

.footer a{
  color: inherit;
}

/* Media Queries */
@media (max-width : 1028px){

}
